.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/alan-carrillo-z9WAr91fjbQ-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 207px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  font-family: Georgia, serif;
  margin: 73px 0 55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 192px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 199px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 69px;
    margin-bottom: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 147px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1006px;
}

.u-section-2 .u-text-1 {
  font-size: 0.75rem;
  margin: 0 0 0 942px;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 35px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-1 {
  min-height: 688px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-template-rows: auto auto;
  grid-gap: 10px 10px;
  margin: 59px auto 60px 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-icon-1 {
  height: 96px;
  width: 95px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  background-image: none;
  margin: 22px 20px 0;
}

.u-section-2 .u-text-5 {
  margin: 18px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-icon-2 {
  height: 96px;
  width: 95px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  background-image: none;
  margin: 22px 20px 0;
}

.u-section-2 .u-text-7 {
  margin: 18px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-icon-3 {
  height: 96px;
  width: 95px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  background-image: none;
  margin: 22px 20px 0;
}

.u-section-2 .u-text-9 {
  margin: 18px 0 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-icon-4 {
  height: 96px;
  width: 95px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  background-image: none;
  margin: 22px 20px 0;
}

.u-section-2 .u-text-11 {
  margin: 18px 0 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-2 .u-icon-5 {
  height: 96px;
  width: 95px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-12 {
  background-image: none;
  margin: 22px 20px 0;
}

.u-section-2 .u-text-13 {
  margin: 18px 0 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-2 .u-icon-6 {
  height: 96px;
  width: 95px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-14 {
  background-image: none;
  margin: 22px 20px 0;
}

.u-section-2 .u-text-15 {
  margin: 18px 0 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 742px;
  }

  .u-section-2 .u-text-2 {
    width: 484px;
  }

  .u-section-2 .u-list-1 {
    min-height: 567px;
    height: auto;
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-icon-1 {
    height: 95px;
  }

  .u-section-2 .u-icon-2 {
    height: 95px;
  }

  .u-section-2 .u-icon-3 {
    height: 95px;
  }

  .u-section-2 .u-icon-4 {
    height: 95px;
  }

  .u-section-2 .u-icon-5 {
    height: 95px;
  }

  .u-section-2 .u-icon-6 {
    height: 95px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1317px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 522px;
  }

  .u-section-2 .u-list-1 {
    min-height: 977px;
    grid-template-columns: calc(50% - 5.25px) calc(50% - 5.25px);
    margin-top: 35px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1323px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 342px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-list-1 {
    min-height: 1007px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 136px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    font-size: 1.25rem;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: calc(50% - 8.5px) calc(50% - 8.5px);
    grid-gap: 17px 17px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-left: -77px;
    margin-right: -77px;
  }

  .u-section-2 .u-text-5 {
    margin-left: -97px;
    margin-right: -97px;
  }

  .u-section-2 .u-text-6 {
    margin-left: -77px;
    margin-right: -77px;
  }

  .u-section-2 .u-text-7 {
    margin-left: -97px;
    margin-right: -97px;
  }

  .u-section-2 .u-text-8 {
    margin-left: -77px;
    margin-right: -77px;
  }

  .u-section-2 .u-text-9 {
    margin-left: -97px;
    margin-right: -97px;
  }

  .u-section-2 .u-text-10 {
    margin-left: -77px;
    margin-right: -77px;
  }

  .u-section-2 .u-text-11 {
    margin-left: -97px;
    margin-right: -97px;
  }

  .u-section-2 .u-text-12 {
    margin-left: -77px;
    margin-right: -77px;
  }

  .u-section-2 .u-text-13 {
    margin-left: -97px;
    margin-right: -97px;
  }

  .u-section-2 .u-text-14 {
    margin-left: -77px;
    margin-right: -77px;
  }

  .u-section-2 .u-text-15 {
    margin-left: -97px;
    margin-right: -97px;
  }
}