.u-section-3-1 {
  background-image: url("images/20150527_182717.jpg");
  background-position: 50% 50%;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 283px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 172px;
  }
}.u-section-3-2 {
  background-image: url("np://user.desktop.nicepage.com/Site_82680800/images/IMG_9390.JPG");
  background-position: 50% 50%;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 283px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 172px;
  }
}.u-section-3-3 {
  background-image: url("images/Events_4.jpg");
  background-position: 50% 50%;
}

.u-section-3-3 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 283px;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 172px;
  }
}.u-section-3-4 {
  background-image: url("images/Events_3.jpg");
  background-position: 50% 50%;
}

.u-section-3-4 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 283px;
  }
}

@media (max-width: 575px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 172px;
  }
}.u-section-3-5 {
  background-image: url("images/Events_1.jpg");
  background-position: 50% 30.81%;
}

.u-section-3-5 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 283px;
  }
}

@media (max-width: 575px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 172px;
  }
}.u-section-3-6 {
  background-image: url("images/Events_5.jpg");
  background-position: 50% 50%;
}

.u-section-3-6 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-3-6 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-3-6 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-3-6 .u-sheet-1 {
    min-height: 283px;
  }
}

@media (max-width: 575px) {
  .u-section-3-6 .u-sheet-1 {
    min-height: 172px;
  }
}.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/alan-carrillo-z9WAr91fjbQ-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 207px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  font-family: Georgia, serif;
  margin: 73px 0 55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 192px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 199px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 69px;
    margin-bottom: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 147px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 972px;
}

.u-section-2 .u-text-1 {
  font-size: 0.75rem;
  margin: 3px 0 0 942px;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 35px auto 0;
}

.u-section-2 .u-list-1 {
  min-height: 756px;
  grid-template-rows: auto auto;
  grid-auto-rows: 100%;
  margin-top: 47px;
  margin-bottom: 35px;
  height: auto;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-auto-rows: calc(50% - 5px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-icon-1 {
  height: 96px;
  width: 95px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  background-image: none;
  margin: 22px 20px 0;
}

.u-section-2 .u-text-4 {
  margin: 18px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-icon-2 {
  height: 96px;
  width: 95px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  background-image: none;
  margin: 22px 20px 0;
}

.u-section-2 .u-text-6 {
  margin: 18px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-icon-3 {
  height: 96px;
  width: 95px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  background-image: none;
  margin: 22px 20px 0;
}

.u-section-2 .u-text-8 {
  margin: 18px 0 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-icon-4 {
  height: 96px;
  width: 95px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  background-image: none;
  margin: 22px 20px 0;
}

.u-section-2 .u-text-10 {
  margin: 18px 0 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-2 .u-icon-5 {
  height: 96px;
  width: 95px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  background-image: none;
  margin: 22px 20px 0;
}

.u-section-2 .u-text-12 {
  margin: 18px 0 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-2 .u-icon-6 {
  height: 96px;
  width: 95px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-13 {
  background-image: none;
  margin: 22px 20px 0;
}

.u-section-2 .u-text-14 {
  margin: 18px 0 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 742px;
  }

  .u-section-2 .u-text-2 {
    width: 484px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 59px;
  }

  .u-section-2 .u-icon-1 {
    height: 95px;
  }

  .u-section-2 .u-icon-2 {
    height: 95px;
  }

  .u-section-2 .u-icon-3 {
    height: 95px;
  }

  .u-section-2 .u-icon-4 {
    height: 95px;
  }

  .u-section-2 .u-icon-5 {
    height: 95px;
  }

  .u-section-2 .u-icon-6 {
    height: 95px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 522px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 163px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 342px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-rows: calc(16.66% - 8.333333333333334px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 136px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    font-size: 1.25rem;
  }

  .u-section-2 .u-list-1 {
    margin-top: 118px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 8.5px);
    grid-template-columns: calc(50% - 8.5px) calc(50% - 8.5px);
    grid-gap: 17px 17px;
  }

  .u-section-2 .u-text-3 {
    margin-left: -77px;
    margin-right: -77px;
  }

  .u-section-2 .u-text-4 {
    margin-left: -97px;
    margin-right: -97px;
  }

  .u-section-2 .u-text-5 {
    margin-left: -77px;
    margin-right: -77px;
  }

  .u-section-2 .u-text-6 {
    margin-left: -97px;
    margin-right: -97px;
  }

  .u-section-2 .u-text-7 {
    margin-left: -77px;
    margin-right: -77px;
  }

  .u-section-2 .u-text-8 {
    margin-left: -97px;
    margin-right: -97px;
  }

  .u-section-2 .u-text-9 {
    margin-left: -77px;
    margin-right: -77px;
  }

  .u-section-2 .u-text-10 {
    margin-left: -97px;
    margin-right: -97px;
  }

  .u-section-2 .u-text-11 {
    margin-left: -77px;
    margin-right: -77px;
  }

  .u-section-2 .u-text-12 {
    margin-left: -97px;
    margin-right: -97px;
  }

  .u-section-2 .u-text-13 {
    margin-left: -77px;
    margin-right: -77px;
  }

  .u-section-2 .u-text-14 {
    margin-left: -97px;
    margin-right: -97px;
  }
}.u-block-870b-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-870b-3 {
  position: absolute;
  left: 0;
}

.u-block-870b-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 999px;
}

.u-section-4 .u-shape-1 {
  width: 433px;
  left: auto;
  right: 316px;
}

.u-section-4 .u-image-1 {
  width: 842px;
  height: 575px;
  margin: 144px 47px 0 auto;
}

.u-section-4 .u-group-1 {
  width: 462px;
  min-height: 338px;
  background-image: none;
  margin: -628px 616px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  font-size: 2.25rem;
  margin: 47px 0 0;
}

.u-section-4 .u-list-1 {
  min-height: 432px;
  grid-template-rows: auto;
  width: 524px;
  grid-auto-rows: 100%;
  margin: 83px 0 49px auto;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(50% - 15px);
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-auto-rows: calc(50% - 15px);
  grid-gap: 30px 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 15px;
}

.u-section-4 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 15px;
}

.u-section-4 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 30px 15px;
}

.u-section-4 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 30px 15px;
}

.u-section-4 .u-icon-4 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 111px;
  }

  .u-section-4 .u-group-1 {
    width: 367px;
    min-height: 232px;
    margin-top: -637px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.75rem;
    margin-top: 10px;
  }

  .u-section-4 .u-list-1 {
    min-height: 199px;
    height: auto;
    margin-top: 138px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 908px;
  }

  .u-section-4 .u-shape-1 {
    width: 379px;
    left: 135px;
    right: auto;
  }

  .u-section-4 .u-image-1 {
    width: 606px;
    height: 443px;
    margin-top: 86px;
    margin-right: 30px;
  }

  .u-section-4 .u-group-1 {
    width: 270px;
    min-height: 236px;
    margin-top: -480px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 11px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 135px;
    margin-bottom: 50px;
    min-height: 432px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    width: 494px;
    height: 395px;
    margin-top: 87px;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    margin-top: -432px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 49px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-4 .u-shape-1 {
    width: 292px;
    left: auto;
    right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 390px;
    height: 294px;
    margin-top: 83px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-4 .u-group-1 {
    width: 281px;
    min-height: 125px;
    margin-top: -333px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 35px;
    padding-bottom: 29px;
    padding-left: 15px;
  }

  .u-section-4 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 0;
  }

  .u-section-4 .u-list-1 {
    min-height: 410px;
    margin-top: 194px;
    margin-bottom: 44px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-right: -68px;
    margin-left: -72px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.75rem;
    width: auto;
    margin-right: -68px;
    margin-left: -72px;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.75rem;
    width: auto;
    margin-right: -68px;
    margin-left: -72px;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.75rem;
    width: auto;
    margin-right: -68px;
    margin-left: -72px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 227px;
}

.u-section-5 .u-text-1 {
  margin: 54px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  background-image: none;
  font-size: 1rem;
  font-weight: 700;
  margin: 9px auto 55px;
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 252px;
  }
}