.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/alan-carrillo-z9WAr91fjbQ-unsplash1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 244px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  margin: 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 177px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1134px;
}

.u-section-2 .u-text-1 {
  font-size: 0.75rem;
  margin: 0 0 0 953px;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-shape-1 {
  height: 559px;
  width: 601px;
  background-image: none;
  margin: 14px 0 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1034px;
  margin: -515px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 360px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-line-1 {
  height: 298px;
  transform-origin: center top 0px;
  width: 16px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 616px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 50px 30px 30px;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 2.25rem;
  font-family: Georgia, serif;
  margin: 72px 0 0;
}

.u-section-2 .u-text-3 {
  font-family: "Open Sans", sans-serif;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 151px auto -30px;
}

.u-section-2 .u-image-1 {
  width: 401px;
  height: 236px;
  margin: 51px auto 0 86px;
}

.u-section-2 .u-image-2 {
  width: 401px;
  height: 236px;
  margin: -236px 86px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1078px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 753px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 544px;
  }

  .u-section-2 .u-btn-3 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 533px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 250px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 652px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2868px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 353px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 2250px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 664px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 153px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1417px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 407px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 200px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    height: 200px;
    margin-top: 14px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1681px;
}

.u-section-3 .u-shape-1 {
  height: 1104px;
  width: 601px;
  background-image: none;
  margin: 35px auto 0 539px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1034px;
  margin: -1060px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1134px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-line-1 {
  height: 451px;
  transform-origin: center top 0px;
  width: 16px;
  margin: 506px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 1134px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 50px 0 30px;
}

.u-section-3 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 2.25rem;
  font-family: Georgia, serif;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-family: "Open Sans", sans-serif;
  margin: 40px 0 0 -10px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 166px auto -21px 345px;
}

.u-section-3 .u-image-1 {
  width: 401px;
  height: 236px;
  margin: 68px auto 0 86px;
}

.u-section-3 .u-image-2 {
  width: 401px;
  height: 236px;
  margin: -225px 86px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1578px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 339px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1031px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1031px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 259px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 119px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 790px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 60px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 77px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 86px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 7110px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 4477px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 895px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 171px;
    margin-left: auto;
    margin-bottom: -26px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 200px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 200px;
    margin-left: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1081px;
}

.u-section-4 .u-shape-1 {
  height: 527px;
  width: 601px;
  background-image: none;
  margin: 35px 0 0 auto;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1034px;
  margin: -483px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 360px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-line-1 {
  height: 298px;
  transform-origin: center top 0px;
  width: 16px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 616px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 50px 30px 30px;
}

.u-section-4 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 2.25rem;
  font-family: Georgia, serif;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-family: "Open Sans", sans-serif;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 137px auto 0;
}

.u-section-4 .u-image-1 {
  width: 401px;
  height: 236px;
  margin: 0 auto 0 86px;
}

.u-section-4 .u-image-2 {
  width: 401px;
  height: 236px;
  margin: -236px 86px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 544px;
  }

  .u-section-4 .u-btn-1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 250px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 652px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2815px;
  }

  .u-section-4 .u-shape-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 2250px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 664px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1417px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 407px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 200px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    height: 200px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 227px;
}

.u-section-5 .u-text-1 {
  margin: 54px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  background-image: none;
  font-size: 1rem;
  font-weight: 700;
  margin: 9px auto 55px;
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 252px;
  }
}