 .u-section-1 {
  background-image: url("images/2F1A1825.jpg");
  background-position: 50% 69.5%;
}

.u-section-1 .u-sheet-1 {
  min-height: 478px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 177px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 108px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 0 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-bottom: 60px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 407px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto auto;
  margin-bottom: 0;
  margin-top: 41px;
  margin-right: 0;
  grid-auto-rows: 100%;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 366px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 182px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 182px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 182px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-5 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    height: auto;
    margin-right: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 302px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-gap: 0px 0px;
    min-height: 347px;
  }

  .u-section-3 .u-text-1 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-3 .u-text-3 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-3 .u-text-5 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-3 .u-text-7 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-3 .u-text-9 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    margin-top: 12px;
    margin-right: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-3 .u-text-2 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-3 .u-text-4 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-3 .u-text-6 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-7 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-3 .u-text-8 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-9 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-3 .u-text-10 {
    margin-left: -142px;
    margin-right: -142px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    margin-top: 21px;
    margin-right: initial;
  }

  .u-section-3 .u-icon-1 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-3 .u-icon-2 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-3 .u-icon-3 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-3 .u-icon-4 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-3 .u-text-8 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-3 .u-icon-5 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-3 .u-text-9 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-3 .u-text-10 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 39px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  margin: 0 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 69px;
    margin-bottom: 60px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 390px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto auto;
  margin-bottom: 0;
  margin-top: 41px;
  margin-right: 0;
  grid-auto-rows: 100%;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 349px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-5 .u-text-8 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-gap: 0px 0px;
  }

  .u-section-5 .u-text-1 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-5 .u-text-3 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-5 .u-text-5 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-5 .u-text-7 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1028px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 12px;
    margin-right: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-5 .u-text-2 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-5 .u-text-4 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-5 .u-text-6 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-7 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-5 .u-text-8 {
    margin-left: -142px;
    margin-right: -142px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1030px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 21px;
    margin-right: initial;
  }

  .u-section-5 .u-icon-1 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-5 .u-text-1 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-5 .u-icon-2 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-5 .u-text-4 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-5 .u-icon-3 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-5 .u-text-5 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-5 .u-text-6 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-5 .u-icon-4 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-5 .u-text-7 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-5 .u-text-8 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 39px;
}

.u-section-6 .u-text-1 {
  font-weight: 900;
  margin: 0 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 69px;
    margin-bottom: 60px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 782px;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto auto;
  margin-bottom: 0;
  margin-top: 41px;
  margin-right: 0;
  grid-auto-rows: 100%;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 741px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 109px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 109px 0 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-icon-3 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-7 .u-text-5 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 109px 0 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-icon-4 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-7 .u-text-7 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 109px 0 0;
}

.u-section-7 .u-text-8 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-icon-5 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-7 .u-text-9 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 109px 0 0;
}

.u-section-7 .u-text-10 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

.u-section-7 .u-icon-6 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-7 .u-text-11 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 109px 0 0;
}

.u-section-7 .u-text-12 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    height: auto;
    margin-top: 10px;
    margin-bottom: 19px;
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-list-1 {
    margin-top: 11px;
    margin-bottom: 0;
    margin-right: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-gap: 0px 0px;
  }

  .u-section-7 .u-text-1 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-7 .u-text-3 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-7 .u-text-5 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-7 .u-text-7 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-7 .u-text-9 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-7 .u-text-10 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-7 .u-text-11 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-7 .u-text-12 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-list-1 {
    margin-top: 12px;
    margin-right: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-7 .u-text-2 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-7 .u-text-4 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-5 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-7 .u-text-6 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-7 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-7 .u-text-8 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-9 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-7 .u-text-10 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-11 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-7 .u-text-12 {
    margin-left: -142px;
    margin-right: -142px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-list-1 {
    margin-top: 21px;
    margin-right: initial;
  }

  .u-section-7 .u-icon-1 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-7 .u-text-1 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-7 .u-text-2 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-7 .u-icon-2 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-7 .u-text-3 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-7 .u-text-4 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-7 .u-icon-3 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-7 .u-text-5 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-7 .u-text-6 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-7 .u-icon-4 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-7 .u-text-7 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-7 .u-text-8 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-7 .u-icon-5 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-7 .u-text-9 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-7 .u-text-10 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-7 .u-icon-6 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-7 .u-text-11 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-7 .u-text-12 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 40px;
}

.u-section-8 .u-text-1 {
  font-weight: 900;
  margin: 0 20px 1px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-bottom: 60px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1167px;
}

.u-section-9 .u-list-1 {
  grid-template-rows: auto auto;
  margin-bottom: 10px;
  margin-top: 41px;
  margin-right: 0;
  grid-auto-rows: 100%;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 1116px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-icon-1 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  margin: 0 auto;
}

.u-section-9 .u-text-1 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 136px 0 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-icon-2 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  margin: 0 auto;
}

.u-section-9 .u-text-3 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 136px 0 0;
}

.u-section-9 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-icon-3 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  margin: 0 auto;
}

.u-section-9 .u-text-5 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 136px 0 0;
}

.u-section-9 .u-text-6 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px;
}

.u-section-9 .u-icon-4 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  margin: 0 auto;
}

.u-section-9 .u-text-7 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 136px 0 0;
}

.u-section-9 .u-text-8 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px;
}

.u-section-9 .u-icon-5 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  margin: 0 auto;
}

.u-section-9 .u-text-9 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 136px 0 0;
}

.u-section-9 .u-text-10 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-9 .u-container-layout-6 {
  padding: 30px;
}

.u-section-9 .u-icon-6 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  margin: 0 auto;
}

.u-section-9 .u-text-11 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 136px 0 0;
}

.u-section-9 .u-text-12 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-9 .u-container-layout-7 {
  padding: 30px;
}

.u-section-9 .u-icon-7 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  margin: 0 auto;
}

.u-section-9 .u-text-13 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 136px 0 0;
}

.u-section-9 .u-text-14 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-9 .u-list-1 {
    height: auto;
    margin-top: 10px;
    margin-bottom: 19px;
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-9 .u-list-1 {
    margin-top: 11px;
    margin-bottom: 0;
    margin-right: initial;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-gap: 0px 0px;
  }

  .u-section-9 .u-text-1 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-9 .u-text-3 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-9 .u-text-5 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-9 .u-text-6 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-9 .u-text-7 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-9 .u-text-8 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-9 .u-text-9 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-9 .u-text-10 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-9 .u-text-11 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-9 .u-text-12 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-9 .u-text-13 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-9 .u-text-14 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1028px;
  }

  .u-section-9 .u-list-1 {
    margin-top: 12px;
    margin-right: initial;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-1 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-9 .u-text-2 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-3 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-9 .u-text-4 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-5 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-9 .u-text-6 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-7 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-9 .u-text-8 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-9 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-9 .u-text-10 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-11 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-9 .u-text-12 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-9 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-13 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-9 .u-text-14 {
    margin-left: -142px;
    margin-right: -142px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1030px;
  }

  .u-section-9 .u-list-1 {
    margin-top: 21px;
    margin-right: initial;
  }

  .u-section-9 .u-text-1 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-9 .u-text-2 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-9 .u-text-3 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-9 .u-text-4 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-9 .u-text-5 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-9 .u-text-6 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-9 .u-text-7 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-9 .u-text-8 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-9 .u-text-9 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-9 .u-text-10 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-9 .u-text-11 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-9 .u-text-12 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-9 .u-text-13 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-9 .u-text-14 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 40px;
}

.u-section-10 .u-text-1 {
  font-weight: 900;
  margin: 0 20px 1px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-bottom: 60px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 1167px;
}

.u-section-11 .u-list-1 {
  grid-template-rows: auto auto;
  margin-bottom: 10px;
  margin-top: 41px;
  margin-right: 0;
  grid-auto-rows: 100%;
}

.u-section-11 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 1116px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-icon-1 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-11 .u-text-1 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-11 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-icon-2 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-11 .u-text-3 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-11 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-11 .u-container-layout-3 {
  padding: 30px;
}

.u-section-11 .u-icon-3 {
  height: 273px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-11 .u-text-5 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-11 .u-text-6 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-11 .u-container-layout-4 {
  padding: 30px;
}

.u-section-11 .u-icon-4 {
  height: 182px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-11 .u-text-7 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-11 .u-text-8 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-11 .u-container-layout-5 {
  padding: 30px;
}

.u-section-11 .u-icon-5 {
  height: 182px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-11 .u-text-9 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-11 .u-text-10 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-11 .u-container-layout-6 {
  padding: 30px;
}

.u-section-11 .u-icon-6 {
  height: 182px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-11 .u-text-11 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-11 .u-text-12 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

.u-section-11 .u-container-layout-7 {
  padding: 30px;
}

.u-section-11 .u-icon-7 {
  height: 182px;
  width: 182px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-11 .u-text-13 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-11 .u-text-14 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 0 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-11 .u-list-1 {
    height: auto;
    margin-top: 10px;
    margin-bottom: 19px;
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-11 .u-list-1 {
    margin-top: 11px;
    margin-bottom: 0;
    margin-right: initial;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-gap: 0px 0px;
  }

  .u-section-11 .u-text-1 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-11 .u-text-3 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-11 .u-text-4 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-11 .u-text-5 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-11 .u-text-6 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-11 .u-text-7 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-11 .u-text-8 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-11 .u-text-9 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-11 .u-text-10 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-11 .u-text-11 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-11 .u-text-12 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }

  .u-section-11 .u-text-13 {
    margin-left: -61px;
    margin-right: -61px;
  }

  .u-section-11 .u-text-14 {
    width: auto;
    margin-right: -45px;
    margin-left: -61px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1028px;
  }

  .u-section-11 .u-list-1 {
    margin-top: 12px;
    margin-right: initial;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-text-1 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-11 .u-text-2 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-text-3 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-11 .u-text-4 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-text-5 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-11 .u-text-6 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-text-7 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-11 .u-text-8 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-11 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-text-9 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-11 .u-text-10 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-11 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-text-11 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-11 .u-text-12 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-11 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-text-13 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-11 .u-text-14 {
    margin-left: -142px;
    margin-right: -142px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1030px;
  }

  .u-section-11 .u-list-1 {
    margin-top: 21px;
    margin-right: initial;
  }

  .u-section-11 .u-icon-1 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-11 .u-text-1 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-11 .u-text-2 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-11 .u-icon-2 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-11 .u-text-3 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-11 .u-text-4 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-11 .u-icon-3 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-11 .u-text-5 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-11 .u-text-6 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-11 .u-icon-4 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-11 .u-text-7 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-11 .u-text-8 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-11 .u-icon-5 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-11 .u-text-9 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-11 .u-text-10 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-11 .u-icon-6 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-11 .u-text-11 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-11 .u-text-12 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-11 .u-icon-7 {
    height: 142px;
    width: 142px;
    margin-top: 40px;
    margin-right: 2px;
  }

  .u-section-11 .u-text-13 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-11 .u-text-14 {
    font-size: 0.875rem;
    margin-left: -85px;
    margin-right: -85px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 227px;
}

.u-section-12 .u-text-1 {
  margin: 54px 0 0;
}

.u-section-12 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  background-image: none;
  font-size: 1rem;
  font-weight: 700;
  margin: 9px auto 55px;
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 252px;
  }
}